# Backend auth API base URL for client to call (example: http://localhost:5000/api/auth)
VITE_AUTH_URL="http://localhost:5000/api/auth"

# Video server URL (example: http://localhost:7000)
VITE_VIDEO_URL="http://localhost:7000"
